* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    "s c c c c"
                            "s c c c c"
                            "s c c c c";
}
.side-bar {
    background-color: #A1BC98;
    grid-area: s;
    color: white;

    display: grid;
    grid-template-rows: 200px 400px 1fr;
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-explore {
    display: grid;

    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
}

.sidebar-card {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}

.mina{
    border-radius: 10em;
}

.user-settings {
    margin-top: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
}

.contents {
    grid-area: c;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:    "n n n n"
                            "c c c o"
                            "c c c o";
}

.nav {
    grid-area: n;

    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 2fr 1fr;
}

.upper-nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / 3;
}

.left-nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
}

.left-nav span {
    display: flex;
    justify-content: flex-end;
}

.left-nav input {
    height: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.lower-nav {
    padding: 50px;
    display: flex;
}
.lower-nav > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.name {
    font-size: 32px;
    letter-spacing: 5px;
}

li {
    list-style-type: none;
}

.main-content {
    grid-area: c;

    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.study-time ul{
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.repos{
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}