* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: auto;
    grid-template-areas:"s c";
}
.side-bar {
    background-color: #A1BC98;
    grid-area: s;
    color: white;

    display: grid;
    grid-template-rows: 200px 400px 400px;
    gap: 10px;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-explore {
    display: grid;

    grid-auto-rows: min-content;
    gap: 15px;
}

.sidebar-card {
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 10px;
}

.mina{
    border-radius: 50%;
}

.user-settings {
    margin-top: 50px;
    display: grid;
    grid-auto-rows: min-content;
    gap: 15px;
}

.contents {
    grid-area: c;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: "n"
                        "m";
}

.nav {
    grid-area: n;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.upper-nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / 3;
    align-items: center;
}

.left-nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 15px;
}

.left-nav span {
    display: flex;
    justify-content: flex-end;
}

.left-nav input {
    height: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.lower-nav {
    padding: 50px;
    display: flex;
    gap: 20px;
}
.lower-nav > div {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.name {
    font-size: 32px;
    letter-spacing: 5px;
}

li {
    list-style-type: none;
}

.main-content {
    grid-area: m;
    display: grid;
    grid-auto-rows: min-content;
    padding: 10px;
}

.study-time ul{
    padding: 10px;
    display: grid;
    grid-auto-rows: auto;
    gap: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.repos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background-color: #F1F3E0;
}